/*
* base color              HEX #A6C311 RGB (166,195,17)
* base color darken 	  HEX #9BB60E RGB (155,182,14)
*/


/* baseColor block */


/**
* background color
*/

.header .header-top .top-info:before,
.header .menuzord-menu > li > a:before,
.header .menuzord-menu > li.shopping-cart a span.cart-item,
.rev_slider_wrapper .banner-caption-bg:before,
.rev_slider_wrapper .feature-list-item .icon-box .box,
.header .menuzord .megamenu .offer-going-package-menu .carousel-indicators li.active,
.header .menuzord .megamenu .offer-going-package-menu .single-offer-going-pack .img-box .box .overlay .content h4,
.header .menuzord .megamenu .offer-going-package-menu .single-offer-going-pack .text-box .icon-box .box,
.rev_slider_wrapper .tparrows:hover,
.thm-btn,
.fitness-care-gym-area .single-item .icon-holder::before,
.support-area:before,
.workout-schedules-area .single-item .img-holder .date,
.workout-schedules-area .single-item .content a,
.health-care-pack-carousel .owl-nav [class*=owl-],
.health-care-package-area .single-item .content .top .icon-holder,
.health-care-package-area .single-item .button a,
.walking-area .carousel-indicators .active,
.footer-bottom-area .footer-bottom:before,
.footer-bottom-area .footer-bottom:after,
.experienced-trainer-area .single-item .img-holder .overlay-content,
.experienced-trainer-area .single-item .img-holder .overlay-content .social-links a i:hover,
.experienced-trainer-area .single-item .content .social-links a i,
.daily-training-workout-area:before,
.accrodion.active .accrodion-title h4:before,
.testimonial-carousel-wrapper .owl-dots .owl-dot.active span, .testimonial-carousel-wrapper .owl-dots .owl-dot:hover span,
.rev_slider_wrapper #slider2 .banner-caption-bg span:before,
.fitness-services-boxed .single-fitness-service .single-fitness-service-details .top-box i,
.single-fitness-service-round-icon .icon-box:hover,
.join-now-area:before,
ul.gallery-filter li:hover span, ul.gallery-filter li.active span,
.single-project-item .overlay .box .bottom-box ul li a,
.bmi-tab-box .bmi-tab-title ul li.active a, .bmi-tab-box .bmi-tab-title ul li:hover a,
.single-popular-class .icon-box,
.suppliments-partners-area .single-item .img-holder .overlay-content,
.top-bar-area.home-3,
.header .menuzord .megamenu .header-cart-box li .checkout-btn a,
.single-fitness-service-round-icon.square-box:hover a,
.single-fitness-service-round-icon.square-box:hover .icon-box,
.single-fitness-team-style-two .overlay .inner-box,
.single-blog-post .img-holder .icon-holder,
.single-blog-post .img-holder .overlay ul li,
.single-blog-post a.read-more:hover,
.single-footer-widget ul.recent-news li .box .overlay .content-box,
.bmi-tab-box .bmi-tab-content button,
.support-area.pattern-2 .single-item:hover .icon-holder i,
.schedule-table tbody tr td,
.pattern-3:before,
.pricing-table tbody tr.button-row td a,
.rev_slider_wrapper.slider-5 #slider2 .offer-box:before,
.single-shop-cta a,
.popular-shop-item .section-title .gallery-filter li.active span,
.single-product-item .img-holder .overlay .icon-holder ul li a i,
.fitness-team-style-two .owl-theme .owl-nav [class*=owl-],
.health-care-package-area .single-item .img-holder.offer .offer-text:before,
.slider-bottom-right a,
.single-blog-post .content .meta li a:hover,
.schedule-table tbody tr td.same,
.header .menuzord .megamenu .offer-going-package-menu .single-offer-going-pack .text-box .content-box ul li a:before,
.home-contact-form button,
.single-sidebar.search-widget form button,
.single-sidebar.price-filter .noUi-handle,
.single-sidebar.post-widget ul.recent-news li .box .overlay .content-box,
.single-sidebar.package-slider-widget .offer-going-package-menu .single-offer-going-pack .img-box .box .overlay .content h4,
.single-sidebar.package-slider-widget .offer-going-package-menu .single-offer-going-pack .text-box .icon-box .box,
.single-sidebar.package-slider-widget .offer-going-package-menu .single-offer-going-pack .text-box .content-box ul li a:before,
.single-sidebar.package-slider-widget .offer-going-package-menu .carousel-indicators li.active,
ul.post-pagination li:hover a, ul.post-pagination li.active a,
.product-tab-box .tab-title ul li a:hover,
.product-tab-box .tab-title ul li.active a,
.cart-table .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up, .cart-table .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down,
.cart-table tbody .available-info .icon,
.cart-section .thm-btn,
.single-post-page .share-box ul.social-icons li a,
.reply-box button,
.health-care-package-area .single-item .button a.black:hover,
.single-workout-package-page .label-box h1 span.step,
.single-workout-package-page p b,
.customizer-box input + .slider,
.error-404 form button
{
	background-color: #A6C311;
}
.owl-theme .owl-nav [class*=owl-],
.single-sidebar.price-filter .noUi-handle {
	background-color: #A6C311 !important;	
}

@media(max-width: 1024px) {
	.menuzord .showhide,
	.menuzord-responsive .menuzord-menu.scrollable {
		background-color: #A6C311;
	}
}



/**
* text color
*/

.header .menuzord-menu > li:hover > a,
.header .menuzord-menu ul.dropdown li:hover > a,
.header .menuzord .megamenu ul li:hover > a,
.header-v2.header .menuzord-menu > li:hover > a,
.fitness-care-gym-area .single-item .icon-holder i,
.support-content .single-item .icon-holder i,
.workout-schedules-area .single-item .img-holder .overlay .icon-holder a i,
.workout-schedules-area .single-item .content ul li i,
.workout-schedules-area .single-item .content .schedules-list ul li i,
.health-care-package-area .single-item .content .top .content-heading ul li i,
.health-care-package-area .single-item .content .package-list ul li i,
.experienced-trainer-area .single-item .img-holder .overlay-content .trainer-name .icon-holder i,
.health-care-package-area .single-item .content .top .content-heading h3 span,
.experienced-trainer-area .single-item .img-holder .overlay-content .social-links a i,
.experienced-trainer-area .single-item .content .trainer-name .icon-holder i,
.single-footer-widget ul.quick-links li a:hover,
.single-footer-widget ul.contact li .icon-holder i,
.single-footer-widget ul.recent-news li .content p:hover,
.single-testimonial-carousel .testimonial-text-box .review-box .fa,
.fitness-services-boxed .single-fitness-service .single-fitness-service-details .bottom-box p,
.fitness-services-boxed .single-fitness-service > i,
.single-fitness-service-round-icon .icon-box i,
.fitness-video-area .right-text p.highlighted,
.fitness-video-area .video-box .inner-box ul.navigation li a:hover,
.bmi-tab-box .bmi-tab-content .result-box a,
.single-popular-class p,
.fitness-services-boxed .single-fitness-service .single-fitness-service-details a,
.experienced-trainer-area .single-item .content .trainer-name .name span,
.perfect-plan-right span,
.single-project-item .text-box p,
.single-fitness-team-style-two .overlay .top-box .icon-box,
.single-blog-post .content .meta li a i,
.single-blog-post .content h3:hover,
.single-fitness-team-style-two .overlay .social-icons li a,
.single-product-item .title h2,
.bread-cumb ul li span,
.header .menuzord .megamenu .offer-going-package-menu .single-offer-going-pack .text-box .content-box h3 span b,
.header .menuzord .megamenu .header-cart-box li .text-box span,
.header .menuzord .megamenu .header-cart-box li .text-box .review-box .fa,
.header .menuzord .megamenu .header-cart-box li .total-text span,
.contact-info-box .icon-box i,
.single-sidebar.post-widget ul.recent-news li .content span,
.single-sidebar.package-slider-widget .offer-going-package-menu .single-offer-going-pack .text-box .content-box h3 span b,
.product-content-box .content-box .list-inline .fa,
.product-content-box .content-box .price,
.product-content-box .content-box .location-box span,
.product-tab-box .tab-content #description ul li:before,
.cart-table tbody tr .sub-total,
.login-register a,
.comment-box .single-comment-box .text-box .content a,
.comment-box .single-comment-box .text-box .top-box span,
.review-box .single-review-box .text-box .top-box .rating-box ul li i,
.subscribe-area .subscribe-form h1 span,
.error-404 a,
.single-popular-class .img-box .overlay .content .box a,
.customizer-box button.toggler
{
	color: #A6C311;	
}
.color-green {
	color: #A6C311 !important;	
}

/**
* border color
*/

.header .menuzord .megamenu,
.header .menuzord-menu ul.dropdown, .header .menuzord-menu ul.dropdown li ul.dropdown,
.walking-area .carousel-indicators .active,
.accrodion.active .accrodion-title h4:before,
.single-fitness-service-round-icon .icon-box:hover,
ul.gallery-filter li:hover span, ul.gallery-filter li.active span,
.single-fitness-service-round-icon.square-box:hover a,
.single-fitness-service-round-icon.square-box:hover .icon-box,
.single-fitness-team-style-two .img-box,
.fitness-video-area .video-box .inner-box ul.navigation li a:hover,
.single-blog-post .img-holder .overlay ul li,
ul.post-pagination li:hover a, ul.post-pagination li.active a
{
	border-color: #A6C311;
}
.header.home-3 .has-angle:before {
	border-top-color: #A6C311;
}
.header.home-3 .has-angle:after {
	border-bottom-color: #A6C311;
}

/*
* transparent background
*/

.workout-schedules-area .single-item .img-holder .overlay,
.single-popular-class .img-box .overlay
{
	background-color: rgba(166,195,17,.9);
}


/* baseColor darken block */


/**
* background color
*/

.header .header-top .social li a,
.footer-bottom-area .footer-bottom .social-links a i,
.single-project-item .overlay .box .bottom-box ul li a:hover,
.top-bar-area.home-3 .social li a i,
.footer-bottom-area .footer-bottom .social-links a i
{
	background-color: #9BB60E;
}


/**
* text color
*/

{
	color: #9BB60E;	
}

/**
* Border color
*/

.experienced-trainer-area .single-item .img-holder .overlay-content ul
{
	border-color: #9BB60E;	
}









/*--------------------------------------------------------------------
 image replacement
-----------------------------------------------------------------------*/

.subscribe-area:before {
	background-image: url(../images/subscribe-bg.png);
}