
/* 内页 */

.searchform #s{line-height:46px;padding-top:0;padding-bottom:0;}
.our-work .gallery-item .media-container{filter:alpha(opacity=0);}
.our-work .gallery-item .gallery-btn{filter:alpha(opacity=0);}
.our-work .gallery-item figure:hover .gallery-btn{filter:alpha(opacity=100);}
.glass-animation .background{filter:alpha(opacity=0);}
.glass-animation .glass > span{filter:alpha(opacity=0);}
.glass-animation .glass > span i{display:none;}
.fancybox-nav span{visibility:visible !important;}
.ps-content{overflow:hidden;}
.product-gallery .item{padding-right:0;}
