
body {font-family: "Open Sans",Lora,Arial,Verdana,Helvetica,"Microsoft Yahei",Raleway,Roboto,Oregano,Oswald,"Seaweed Script",sans-serif;font-size:14px;color:#282828;overflow-x:hidden;}
ul,li{list-style:none;margin:0;padding:0;}
a{outline:none!important;color:#282828;}
a:hover,a:active,a:focus{color:#458D40;text-decoration:none;}
.dark-title a{color:#fff;}
.dark-title a:hover,.dark-title a:active{color:#458D40;}
.text-center{text-align:center;}
b,strong{font-weight:bold;}
figure{margin:0;}
h1,h2,h3,h4,h5,h6{letter-spacing:normal;}

.header .header-top .top-info{padding:6px 0;}
.header .header-top .contact-info{padding:0;}
.header .header-top .contact-info li span{font-size:14px;}
.header .header-top .social li a{font-size:13px;width:25px;height:25px;line-height:25px;}
.header .menuzord-menu > li > a{font-size:14px;padding:18px 15px;font-weight:normal;}
.stricky-fixed.header .menuzord-menu > li > a{padding:18px 12px;}
.header .menuzord-menu ul.dropdown li a{color:#282828;}
.stricky-fixed.header .menuzord-brand{line-height:78px;}
.menuzord-menu ul.dropdown li a{padding:4px 5px 4px 2px;}
.menuzord-brand img{height:65px;}
.header .menuzord-menu ul.dropdown, .header .menuzord-menu ul.dropdown li ul.dropdown{min-width:200px;}
.header .search-box input{font-size:26px;}
#header .active .menu1 span{color:#458D40;}

.section-padding{padding:60px 0;}
.section-title a{font-size:inherit;}
.text-ellipsis {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:1.4;}

#home-welcome{top:0;margin-top:0;padding:60px 0 40px;}
.fitness-care-gym-area .single-item .right-box p{margin-bottom:0;}

#home-know .white-title{color:#fff;font-size:30px;margin:0 0 30px;text-align:center;}
.support-content .single-item .content{clear:both;}
.support-content .single-item .icon-holder{margin-right:0;margin-bottom:20px;}
.support-content .single-item .icon-holder img{width:100%;}
.support-content .single-item .content h3.iknow-title{font-size:15px;}
.support-content .single-item .content h3.iknow-title a{color:#fff;}
.support-content .single-item .content p.iknow-desc{line-height:24px;height:48px;overflow:hidden;}

.health-care-package-area .single-item .content{padding:20px;}
.health-care-package-area .single-item .content .package-list h4{margin-top:0;}
#home-courses .iport-desc{line-height:24px;height:72px;overflow:hidden;color:#666;margin-bottom:0;}
.health-care-package-area .single-item .content .package-list{padding-bottom:0;}
.health-care-package-area .single-item .button a{width:auto;height:auto;padding:10px 20px;}

.walking-area .walking h1{font-size:26px;line-height:1.6;margin-bottom:12px;}

.support-area .support-content{padding-top:70px;}
#home-team{background:#f5f5f5;padding:60px 0;}
#home-team .section-title h1 span{background:#f5f5f5;}
#home-team .section-title h1 span a{background:none;}
.testimonial-carousel-wrapper .owl-dots{margin-top:15px;}
.experienced-trainer-area .single-item .content{background:#fff;}
.experienced-trainer-area .single-item .content p.item-desc{margin-bottom:0;line-height:24px;height:48px;overflow:hidden;}
.experienced-trainer-area .single-item .content .trainer-name .name h3,
.experienced-trainer-area .single-item .img-holder .overlay-content .trainer-name .name h3{font-size:16px;}
.experienced-trainer-area .single-item .content .trainer-name .name{width:100%;}
.item-pos{display:block;}

.single-testimonial-carousel .qoute-icon-box, .single-testimonial-carousel .testimonial-text-box{display:block;}
.single-testimonial-carousel .testimonial-text-box{padding-left:70px;margin-top:-40px;}
.single-testimonial-carousel .testimonial-text-box span.name{font-size:16px;font-style:normal;}
.istore-title{margin:25px 0 0 0;text-align:center;}

#footer{padding-top:60px;padding-bottom:30px;}
.single-footer-widget h3.title{font-size:18px;padding-left:0;}
.single-footer-widget ul.contact li{margin-bottom:0;}
.single-footer-widget ul.contact li .icon-holder{margin-bottom:0;}

#footer .recent-news .box{display:block;float:left;width:80px;margin-right:15px;}
#footer .recent-news .content{display:block;}
#footer .recent-news .content .ft-news-title{color:#fff;font-size:14px;}

/* 内页 */

.noDis {display:none;}
.search-tips{color:#f00;font-size:16px;text-align:center;}
.page-content{line-height:1.6;}
.page-content p{line-height:1.6;margin:0;padding:0;}
.page-content h1,.page-content h2,.page-content h3,.page-content h4,.page-content h5,.page-content h6{margin:0;padding:0;line-height:1.6;}
.search-tips{color:#f00;font-size:16px;text-align:center;}
em.error {overflow:hidden;zoom:1;background:url("../images/unchecked.gif") no-repeat 0px 0px;  padding-left: 19px;color:red;}
em.success {overflow:hidden;zoom:1;background:url("../images/checked.gif") no-repeat 0px 0px;  padding-left: 19px;color:red;}
.com-cnt table th{font-weight:bold;background:#f9f9f9}
.com-cnt table th,.com-cnt table td{border:1px #eee solid;padding:6px 12px;}
.com-cnt img{max-width:100%;}

#pages{clear: both;padding:10px 0 10px;text-align: center;font:12px 'Microsoft YaHei';}
#pages a{display:inline-block;padding:0px 8px;height:24px;font-size:12px;line-height:22px;background:#fff;border:1px solid #e3e3e3;text-align:center;color:#333;margin-right:-1px;}
#pages a.a1{padding:0px 12px;height:24px;line-height:22px;margin-top:0px;}
#pages a:hover{background:#f1f1f1;color:#000;text-decoration:none;}
#pages span{display:inline-block;padding:0px 8px;height:24px;line-height:22px;background:#5a85b2;border:1px solid #5a85b2;color:#fff;text-align:center;}
.page .noPage{display:inline-block;padding:0px 12px;height:22px;line-height:22px;border:1px solid #e3e3e3;text-align:center;color:#a4a4a4;}
.pageright{margin-right:40px;}
@media (max-width : 420px) {
	#pages .prev,#pages .next{display:none;}
}

/* responsive */
@media (min-width:1410px) {
	.container{max-width:1170px;width:1170px;}
}
@media (min-width:1570px) {
	.container{max-width:1170px;width:1170px;}
}
@media (min-width:1890px) {
	.container{max-width:1270px;width:1270px;}
}

@media (max-width : 1024px) { /* 17寸桌面，iPad Pro */
	body{word-break:break-all;word-wrap:break-word}
	.container{max-width:98%;width:98%;}
	
	.mmenu-btn {display:block;cursor:pointer;line-height:1;position:absolute;top:50%;right:0px;-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);-webkit-transform:translate(0,-50%);transform:translate(0,-50%);}
	.mmenu-btn i{font-size:24px;color:#fff;}

	#mmenu{border-left:1px #E5E5E5 solid;}
	#mmenu .mmDiv{padding-top:20px;}
	#mmenu .mm-title{padding:12px 0 11px;}
	#mmenu .mm-search-form{margin:0;}
	#mmenu .mm-search{position:static;padding-left:0;margin-top:10px;padding-right:0;margin-bottom:-17px;}
	#mmenu .mm-search .side-mm-keyword{max-height:32px;height:32px;padding:0 16px;}
	#mmenu .noblock{display:inline !important;padding:10px;}
	#mmenu .MMhead{line-height:2.8;border-bottom:1px #E5E5E5 solid;margin:0 -20px;padding-left:10px;}
	#mmenu .MMhead a{background:none;}
	#mmenu .mm-header .mm-title{top:-10px;font-size:14px;}
	#mmenu a{color:#333;font-size:14px;}
	#mmenu a:hover,#mmenu a:active{color:#AF7F48}
	#mmenu .mm-listview > li > a,#mmenu .mm-listview > li > span{padding:10px 10px 10px 20px;}
	
	#header{background:#222;}
	#header-top,#menuzord .menuzord-menu,.menuzord .showhide{display:none!important;}
	.menuzord-responsive .menuzord-brand{margin:0;}
	.menuzord-brand img{height:50px;}
	#home-slider{margin-top:0;}
	
	.section-padding{padding:45px 0;}
	.section-title h1,#home-know .white-title{font-size:28px;}
	#home-welcome .item{width:100%;}
	.fitness-care-gym-area .single-item .icon-holder{margin-right:20px;}
	.fitness-care-gym-area .single-item .right-box{float:none;padding-top:20px;width:auto;margin-top:0;}
	.fitness-care-gym-area .single-item .right-box h3{margin-bottom:20px;}
	
	.walking-area{padding:105px 0 180px;}
	.walking-area .walking h1{font-size:22px;}
	#home-team{padding:60px 0 35px;}
	.single-testimonial-carousel .testimonial-text-box h3{font-size:16px;}
	.istore-title{font-size:14px;}
	
	#footer .foot-item{display:none;}
	#footer .foot-about{display:block;width:100%;}
	.single-footer-widget .footer-logo {text-align:center;}
	.single-footer-widget .footer-logo img{height:55px;}
	
	#home-team .overlay-content{display:none;}
	.experienced-trainer-area .single-item .content{visibility:visible!important;opacity:1!important;transform:none!important;}
	.support-content .single-item .content h3.iknow-title{font-size:14px;}
	
	#copyright{padding:15px 0;}
	#copyright .Copy-LE{width:100%;text-align:center;margin-bottom:12px;}
	#copyright .Copy-RT{width:100%;text-align:center;}
	.footer-bottom-area .footer-bottom .copy-right p{padding:0;line-height:1.4;}
}
@media (max-width : 990px) { /* 960 */
	.container{max-width:96%;width:96%;}
	.support-area{padding-bottom:40px;}
}
@media (max-width : 800px) { /* ipad纵向768，向下考虑iphone6的667px和736px */
	.section-title h1,#home-know .white-title{font-size:26px;}
	.experienced-trainer-area .single-item .content{padding:0 15px 15px 15px;}
	.experienced-trainer-area .single-item .content .trainer-name{padding-top:15px;padding-bottom:7px;}
}
@media (max-width : 740px) { /* 双行，568px,600px,640px */
	.section-title h1,#home-know .white-title{font-size:24px;}
	#home-welcome{padding:45px 0 25px;}
	.walking-area{padding:65px 0 120px;}
}
@media (max-width : 480px) {
	.container{max-width:96%;width:96%;}
	.section-title h1,#home-know .white-title{font-size:22px;}
	.fitness-care-gym-area .single-item .icon-holder{margin:0 auto 20px;}
	.fitness-care-gym-area .single-item .right-box h3{font-size:17px;margin-bottom:15px;}
	.walking-area .walking h1{font-size:15px;}
	#home-team .iteam-title{font-size:14px;}
	.health-care-package-area .single-item .content,.health-care-package-area .single-item .button{padding:15px;}
	.health-care-package-area .single-item .content .package-list h4{font-size:14px;margin-bottom:5px;}
	.health-care-package-area .single-item .button a{padding:7px 15px;}
	#home-courses{padding:40px 0 50px;}
	.health-care-pack-carousel .owl-nav{padding-left:0;margin-top:30px;}
	#home-team{padding:40px 0 25px;}
	.section-title,.experienced-trainer-area .section-title{padding-bottom:30px;}
}
@media (max-width : 420px) {/* 单行，240px,320px,375px,384px,414px */
	.container{max-width:95%;width:95%;}
	.row{margin-left:-10px;margin-right:-10px;}
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{padding-left:10px;padding-right:10px;}
	.section-title h1,#home-know .white-title{font-size:21px;}
}

@media (max-width : 385px) {
	.container{max-width:97%;width:97%;}
	.section-title h1,#home-know .white-title{font-size:20px;}
}

@media (max-width : 360px) {
	.container{max-width:98%;width:98%;}
}

@media (max-width : 330px) {
	.container{max-width:99%;width:99%;}
	.row{margin-left:-8px;margin-right:-8px;}
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{padding-left:8px;padding-right:8px;}
}